@model List<Product>
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<dev class="row" id="productList">
        <input id="productCount" type="hidden" value="@ViewBag.ProductCount"/>
        @await Component.InvokeAsync("Product",4)
	</dev>
    <div class="row justify-content-center">
        <button id="loadMoreBtn" class="btn btn-success">Load More</button>
    </div>
</div>
